<table>
    <thead>
        <tr>
        <th>No</th>
        <th>Tanggal</th>
        <th>Keluhan</th>
        <th>preprocessed_text</th>
        <th>Sentimen</th>
        <th>Topik</th>
        </tr>
    </thead>
    <tbody>
        {% for index, row in enumerate(results) %}
        <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ row['tanggal'] }}</td>
        <td>{{ row['keluhan'] }}</td>
        <td>{{ row['preprocessed_text'] }}</td>
        <td>{{ row['sentimen'] }}</td>
        <td>{{ row['topik'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>